version: "3.8"
services:
  frontend:
    container_name: frontend
    tty: true
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
    ports:
      - "3001:3001"
    restart: always
    volumes:
      - ./frontend:/app/frontend
      - /app/frontend/node_modules/
    links:
      - backend
  backend:
    container_name: backend
    tty: true
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    ports:
      - "3000:3000"
      - "5555:5555"
    restart: always
    volumes:
      - ./backend:/app/backend
      - /app/backend/node_modules/
      - /app/backend/prisma/migrations
    links:
      - postgres_db
  postgres_db:
    container_name: postgres
    image: postgres:15.2-alpine
    ports:
      - "5432:5432"
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
    volumes:
      - database_data:/var/lib/postgresql/data
volumes:
  database_data:
